@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media only screen and (min-device-width: 415px) and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
  \ .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {
  .logo-img {
    display: flex;
    margin: 0px 0 0 0;
    /* padding: 10px; */
    width: 50%;
    height: auto;
    padding-top: 0;
    margin-inline-start: 10px;
  }
}
